.counter-container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius:4px;
}

button{
    color: white;
    background-color: rgb(135, 129, 140);
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    height: 30px;
    width: 30%;
}